<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio - Tu Plataforma de Juegos</title>

  <link rel="icon" type="image/png" href="Img/logo.png">

  <!-- Fuente pixelada estilo gamer -->
  <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">

  <!-- Enlace al CSS -->
  <link rel="stylesheet" href="style.css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9QKZ8DX1QT"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9QKZ8DX1QT');
</script> 

<body class="fondo-inicio">
  <!-- Header -->
  <header class="header">
    <div class="logo">
    </div>
    <nav class="nav-menu">
      <a href="iniciar-sesion.html">Iniciar Sesión</a>
      <a href="crear_cuenta.html">Crear Cuenta</a>
    </nav>
  </header>

  <!-- Sub Nav -->
  <nav class="sub-nav">
    <a href="index.html">Inicio</a>
    <a href="juegos-principales.html">Juegos</a>
  </nav>

  <!-- Main Content -->
  <div class="container">
    <section class="main-content">
      <h2 class="section-title">Quiénes Somos:</h2>
      <p>
        Somos un semillero de investigación de la Universidad Cooperativa de Colombia sede Ibagué-Espinal dedicado al
        desarrollo y
        publicación de videojuegos. Nuestra plataforma permite subir y descargar juegos creados por estudiantes,
        ofreciendo un espacio sencillo y accesible para compartir proyectos y disfrutar nuevas experiencias de juego.
      </p>
    </section>

    <section class="main-content centro">
      <h2 class="section-title">Descargar Juegos</h2>
      <a href="juegos-principales.html" class="btn">Descargar Juegos</a>
    </section>

    <section class="main-content">
      <h2 class="section-title">Proyectos Futuros:</h2>
      <p>
        Próximamente más juegos increíbles, actualizaciones y eventos especiales. ¡Mantente atento!
      </p>
    </section>
  </div>

  <!-- Footer -->
  <footer class="footer">
    &copy; 2025 GameSeed. Todos los derechos reservados.
  </footer>
</body>

</html>
